body{margin: 0px;padding: 0px;font-size:12px;font-family:'Microsoft Yahei',Arial,宋体,sans-serif;}
.mfOuterBox01,.mfOuterBox,#style_load,#mOuterBox,.divBorder01,.divBorder,.kjBorder01,.kjBorder{overflow:hidden; *overflow-x: hidden;}
h1,h2,p,ul{ margin:0; padding:0;}
.ct,.ct_box,.mf{overflow:hidden; *overflow-x: hidden;}